<% provide(:title, t(".help_title")) %>
<h1><%= t(".help_title") %></h1>
<p>
  <%= t(".help_description",
  link_access_railshelp: link_to( t(".link_access_railhelp_name"), t(".link_access_railhelp")),
  link_access_railsbook: link_to( t(".link_access_railbook_name"), t(".link_access_book"))).html_safe %>
</p>
