<h1><%= t(".title") %></h1>
<p><%= t(".hi", user_name: @user.name) %></p>
<p><%= t(".description") %></p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
